@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f6f1ea;
    --header-main-color: #f5f5f5;
    --border-main-separator-color: #e5e5e5;
    --text-grey-color: #6c6c6c;
    --text-blue-color: #0a66c2;
    --btn-black-color-1: #262626;
    --border-btn-color-1: #2c2c2c;
}

/* Main Header */
.main-header {
    background-color: var(--header-main-color);
    border-bottom: 1px solid var(--border-main-separator-color);
}

.main-header-logo {
    height: 35px;
    width: 35px;
}

.main-header-search-icon {
    height: 22px;
    width: 22px;
}

.main-header-home-icon {
    height: 22px;
    width: 22px;
}

.main-header-myNetwork-icon {
    height: 31px;
    width: 31px;
}

.main-header-jobs-icon {
    height: 25px;
    width: 25px;
}

.main-header-messaging-icon {
    height: 25px;
    width: 25px;
}

.main-header-notification-icon {
    height: 29px;
    width: 29px;
}

.main-header-profile-photo {
    height: 27px;
    width: 27px;
    border-radius: 50%;
}


/* Main Container */
.main-container {
    background-color: var(--primary-color);
}


/* Home Page Left Panel */
.home-page-left-panel {
    width: 100%;
    background-color: var(--header-main-color);
    border-bottom: 1px solid var(--border-main-separator-color);
    border-top: 1px solid var(--border-main-separator-color);
}

/* User Profile Card */
.user-profile-card-overlay {
    z-index: 0;
    background-color: rgb(146, 201, 201);
}

.user-profile-card-info {
    border-bottom: 1px solid var(--border-main-separator-color);
}

.user-profile-card-info img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 10;
    margin-top: 10px;
}

.user-profile-card-info h2 {
    font-weight: 600;
}

.user-profile-card-info p {
    font-size: 13px;
    font-weight: 300;
    color: var(--text-grey-color);
}

/* View All Analytics */
.view-all-analytics p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-grey-color);
}
/* Connections */
.connections {
    border-bottom: 1px solid var(--border-main-separator-color);
}

.connections p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-grey-color);
}

.connections p:nth-last-child(1) {
    color: black;
}

.connections img {
    width: 15px;
    height: 15px;
}

/* Premium Section */
.premium-section {
    border-bottom: 1px solid var(--border-main-separator-color);
}

.premium-section img {
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.premium-section p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-grey-color);
}

.premium-section p:nth-last-child(1) {
    color: black;
}

/* Saved Items */
.saved-items img {
    width: 11px;
    height: 11px;
}

.saved-items p {
    font-size: 13px;
    font-weight: 500;
}


/* Groups and Events */
.groups-and-events {
    width: 100%;
    height: 134px;
    background-color: var(--header-main-color);
    border-top: 1px solid var(--border-main-separator-color);
    border-bottom: 1px solid var(--border-main-separator-color);
}

.groups-and-events-divider {
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-main-separator-color);
}

/* Groups */
.groups {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-blue-color);
}
/* Events */
.events {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-blue-color);
}

.events img {
    width: 18px;
    height: 18px;
    margin-top: 3px;
}

/* Group and Events Discover More */
.group-and-events-discover-more {
    border-top: 1px solid var(--border-main-separator-color);
}

.group-and-events-discover-more p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-grey-color);
}


/* Welcome Banner */
.welcome-banner {
    border-top: 1px solid var(--border-main-separator-color);
    border-bottom: 1px solid var(--border-main-separator-color);
}

.height-welcome-card {
    height: 26rem;
}


/* Home Page Right Panel */
.home-page-right-panel-container {
    width: 100%;
    background-color: var(--header-main-color);
    border-bottom: 1px solid var(--border-main-separator-color);
    border-top: 1px solid var(--border-main-separator-color);
}

.home-page-right-panel h2 {
    font-weight: 500;
}

.home-page-right-panel img {
    width: 15px;
    height: 15px;
    font-weight: lighter;
}

/* Follow Suggestions */
.follow-suggestions img {
    width: 35px;
    height: 40px;
}

.follow-suggestions h3 {
    font-weight: 600;
    font-size: 14px;
}

.follow-suggestions p {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-grey-color);
}

.follow-suggestions p:nth-child(1) {
    font-size: 15px;
    font-weight: 500;
    color: var(--border-btn-color-1);
}

/* Follow Button */
.follow-btn button {
    width: 100px;
    border-radius: 15px;
    padding: 2px 0;
    font-weight: 500;
    border: 1px solid var(--border-btn-color-1);
    color: var(--border-btn-color-1);
}

.follow-btn button h3 {
    font-weight: 600;
    font-size: 16px;
}


/* Ads LinkedIn Banner */
.ads-linkedin-banner {
    width: 100%;
    background-color: var(--header-main-color);
    border-bottom: 1px solid var(--border-main-separator-color);
    border-top: 1px solid var(--border-main-separator-color);
}

.ads-linkedin-banner img {
    width: 300px;
    height:250px;
}



/* Main Page Footer */
.main-page-footer {
    width: 100%;
}

.main-page-footer a {
    margin: 0 8px 0 8px;
    font-size: 13px;
    color: var(--text-grey-color);
    font-weight: 400;
    display: inline-block;
}

.main-page-footer-copyright p {
    font-size: 13px;
}

.main-page-footer-copyright img {
    width: 15px;
    height: 15px;
}

.main-page-footer-copyright p:nth-child(1) {
    color: var(--text-blue-color);
    font-weight: 500;
    margin-right: 2px;
}

